{% extends 'bootstrap5/bootstrap5.html' %}

{% block bootstrap5_title %}{% block title %}{% endblock %}{% endblock %}



    {% block bootstrap5_before_content %}
        <div class="col-md-8 py-5 px-3 mx-auto">
        <header class="pb-3 mb-5 border-bottom">
            <h1 class="h4">
                <a href="{% url 'welcome' %}" class="d-flex align-items-center text-dark text-decoration-none">
                    <span>{% block subtitle %}The Experiment{% endblock %}</span>
                </a>
            </h1>
        </header>
    {% endblock %}
    {% block bootstrap5_content %}
        {% block content %}{% endblock %}
    {% endblock %}
    {% block bootstrap5_after_content %}
        </div>
    {% endblock %}