<hr class="my-5 w-25 mx-0">
<div class="row">
    <h3>How to use the tool (DiPiDi)</h3>
        <div class="col-md-12 mt-4">
            <p>To assess with your tasks, you may use the tool provided to you called DiPiDi.
                DiPiDi can help you to complete the tasks by
                revealing the exposure of a change. Here is how to use the tool:
            </p>
            <ol>
                <li>Select the file you are interested to see the impact. Alternatively, you can select a commit and
                    the tool will show you all the impacted targets because of the changes in that commit.</li>
                <li>You can see the impacted targets and the conditions under which the file will impact the target</li>
                <li>Additionally you can see the impacted targets given a list of conditions</li>
            </ol>
            <p>A condition can be a boolean (BoolRef), a number (ArithRef) or a string (SeqRed). Choose the right type accordingly.</p>
            <p>If you faced any problem using the tool, feel free to refresh the page.</p>
        </div>
    </div>