{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Task C{% endblock %}

{% block content %}
    {% if tooling_level == '3' %}
        <p>Access DiPiDi tool at {{ dipidi_url }}</p>
    {% endif %}

    {% if tooling_level == '2' %}
        <p>Access the tool at {{ existing_tool_url }}</p>
    {% endif %}

    <h3>Project Name: {{ project }}</h3>
    <p>Download project at: {{ repo_link }}</p>
    <p>Build Configurations: {{ configuration }}</p>
    <p>Order the commits based on: {{ criteria }}</p>
    <p></p>
    <form role="form" class="row" method="post">
        {% csrf_token %}
        {% bootstrap_formset forms layout='inline' %}
        {% buttons submit='OK' reset='Cancel' layout='inline' %}{% endbuttons %}
    </form>

{% endblock %}