{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Task B{% endblock %}
{% block subtitle %}Task {{ order }}: Rank the Commits{% endblock %}
{% block content %}
    <h4>Task Description</h4>
    <p>
        You will be shown three commits and a set of build specifications which are the conditions
        passed to the build system and may change the build process. These conditions are defined using option or
        if commands. Read more at <a href="https://cmake.org/cmake/help/latest/command/if.html">CMake website.</a>
        We ask you to rank the commits listed in the experiment UI based on (a) the number
        of impacted deliverables or (b) the number of impacted
        application variants (e.g., number of affected OS).
        Rank the commits in an ascending order (1=Most Impact, 3=Less Impact)
    </p>
    <p>Follow the steps below to prepare for the task. Once you completed the steps, click on ready and the task will begin.</p>
    <ul>
    {% if tooling_level == '3' %}
        <li>Access DiPiDi tool at (<span style="color: red;">link maybe different than other tasks</span>) <a href="{{ dipidi_url }}">{{ dipidi_url }}</a></li>
    {% endif %}

    {% if tooling_level == '2' %}
        <li>Access the tool at (<span style="color: red;">link maybe different than other tasks</span>) <a href="{{ existing_tool_url }}">{{ existing_tool_url }}</a></li>
    {% endif %}

    <li>Clone the repository from: <a href="{{ repo_link }}">{{ repo_link }}</a></li>
    </ul>
    {% if not ready %}
        <form role="form" class="row" method="post" action="ready">
            {% csrf_token %}
            {% buttons submit='Ready' layout='inline' %}{% endbuttons %}
        </form>
    {% endif %}
    {% if ready %}
        <b>Given the following build time configurations, please rank the commits based on the given criteria.</b>
        <p><b>Build Configurations: {{ configuration }}</b></p>
        <p><b>Criteria: {{ criteria }}</b></p>
        <form role="form" class="row" method="post">
            {% csrf_token %}
            {% bootstrap_formset forms %}
            <div class="row">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="skip" class="btn btn-warning">Skip</a>
                </div>
            </div>
        </form>
        {% if tooling_level == '2' %}
            {% include 'existingtool.html' %}
        {% endif %}
        {% if tooling_level == '3' %}
            {% include 'dipiditool.html' %}
        {% endif %}
    {% endif %}

{% endblock %}