{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Task C{% endblock %}
{% block subtitle %}Task {{ order }}{% endblock %}
{% block content %}
    {% if tooling_level == '3' %}
        <p>Access DiPiDi tool at <a href="{{ dipidi_url }}">{{ dipidi_url }}</a></p>
    {% endif %}

    {% if tooling_level == '2' %}
        <p>Access the tool at <a href="{{ existing_tool_url }}">{{ existing_tool_url }}</a></p>
    {% endif %}

    <h3>Project Name: {{ project }}</h3>
    <p>Clone the repository from: <a href="{{ repo_link }}">{{ repo_link }}</a></p>
    {% if not ready %}
        <form role="form" class="row" method="post" action="ready">
            {% csrf_token %}
            {% buttons submit='Ready' layout='inline' %}{% endbuttons %}
        </form>
    {% endif %}
    {% if ready %}
        {% if type == 1 %}
            <b>Identify the commits which affect these deliverables: {{ deliverables }}</b>
        {% endif %}
        {% if type == 2 %}
            <b>Identify the commits which affect this variant: {{ variant }}</b>
        {% endif %}
        {% if type == 3 %}
            <b>Under which configurations the changes will propagate to the final product? Please write the configuration</b>
        {% endif %}
        <form role="form" class="row" method="post">
            {% csrf_token %}
            {% bootstrap_formset forms %}
            <div class="row">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="skip" class="btn btn-warning">Skip</a>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}