{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Task B{% endblock %}
{% block subtitle %}Task {{ order }}{% endblock %}
{% block content %}
    <p>
        You are given three commits and a set of build specifications. We ask you to rank the commits listed in
        the experiment UI based on (a) the number of impacted deliverables or (b) the number of impacted application
        variants (e.g., number of affected OS). Rank the commits in an ascending order (1=Most Impacted, 3=Less Impacted)
    </p>
    {% if tooling_level == '3' %}
        <p>Access DiPiDi tool at <a href="{{ dipidi_url }}">{{ dipidi_url }}</a></p>
    {% endif %}

    {% if tooling_level == '2' %}
        <p>Access the tool at <a href="{{ existing_tool_url }}">{{ existing_tool_url }}</a></p>
    {% endif %}

    <h3>Project Name: {{ project }}</h3>
    <p>Clone the repository from: <a href="{{ repo_link }}">{{ repo_link }}</a></p>
    {% if not ready %}
        <form role="form" class="row" method="post" action="ready">
            {% csrf_token %}
            {% buttons submit='Ready' layout='inline' %}{% endbuttons %}
        </form>
    {% endif %}
    {% if ready %}
        <b>Given the following build time configurations, please rank the commits based on the given criteria.</b>
        <p><b>Build Configurations: {{ configuration }}</b></p>
        <p><b>Criteria: {{ criteria }}</b></p>
        <form role="form" class="row" method="post">
            {% csrf_token %}
            {% bootstrap_formset forms %}
            <div class="row">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="skip" class="btn btn-warning">Skip</a>
                </div>
            </div>
        </form>
        {% if tooling_level == '2' %}
            {% include 'existingtool.html' %}
        {% endif %}
        {% if tooling_level == '3' %}
            {% include 'dipiditool.html' %}
        {% endif %}
    {% endif %}

{% endblock %}