{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Task C{% endblock %}
{% block subtitle %}Task {{ order }}: Identify the Commit{% endblock %}
{% block content %}
    <h4>Task Description</h4>
    <p>
    You will be shown three commits and asked to identify
        (a) the commits that affect a specified set of deliverables,
        (b) the commits that affect a specific variant of the software, or
        (c) the configuration settings under which the changes will affect at least one target.
    </p>
        <p>Follow the steps below to prepare for the task. Once you completed the steps, click on ready and the task will begin.</p>
    <ul>
    {% if tooling_level == '3' %}
        <li>Access DiPiDi tool at (<span style="color: red;">link maybe different than other tasks</span>) <a href="{{ dipidi_url }}">{{ dipidi_url }}</a></li>
    {% endif %}

    {% if tooling_level == '2' %}
        <li>Access the tool at (<span style="color: red;">link maybe different than other tasks</span>) <a href="{{ existing_tool_url }}">{{ existing_tool_url }}</a></li>
    {% endif %}

    <li>Clone the repository from: <a href="{{ repo_link }}">{{ repo_link }}</a></li>
    </ul>
    {% if not ready %}
        <form role="form" class="row" method="post" action="ready">
            {% csrf_token %}
            {% buttons submit='Ready' layout='inline' %}{% endbuttons %}
        </form>
    {% endif %}
    {% if ready %}
        {% if type == 1 %}
            <b>Identify the commits which affect these deliverables: {{ deliverables }}</b>
        {% endif %}
        {% if type == 2 %}
            <b>Identify the commits which affect this variant: {{ variant }}</b>
        {% endif %}
        {% if type == 3 %}
            <b>For each of the given commits, identify at least one configuration setting under which the change
                will propagate to at least one deliverable(target). If the change will propagate irrespective of
                the conditional settings, enter the term "ALL".</b>
        {% endif %}
        <form role="form" class="row" method="post">
            {% csrf_token %}
            {% bootstrap_formset forms %}
            <div class="row">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="skip" class="btn btn-warning">Skip</a>
                </div>
            </div>
        </form>
        {% if tooling_level == '2' %}
            {% include 'existingtool.html' %}
        {% endif %}
        {% if tooling_level == '3' %}
            {% include 'dipiditool.html' %}
        {% endif %}
    {% endif %}

{% endblock %}