{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Task A{% endblock %}

{% block content %}
    {% if tooling_level == '3' %}
        <p>Access DiPiDi tool at {{ dipidi_url }}</p>
    {% endif %}

    {% if tooling_level == '2' %}
        <p>Access the tool at {{ existing_tool_url }}</p>
    {% endif %}

    <h3>Project Name: {{ project }}</h3>
    <p>Download project at: {{ repo_link }}</p>
    {% if not ready %}
        <form role="form" class="row" method="post" action="ready">
            {% csrf_token %}
            {% buttons submit='Ready' layout='inline' %}{% endbuttons %}
        </form>
    {% endif %}
    {% if ready %}
        <p>Change Commit ID: {{ commit }}</p>
        <p>Build Configuration: {{ configuration }}</p>
        <p></p>
        <form role="form" class="row" method="post">
            {% csrf_token %}
            {% bootstrap_formset forms layout='inline' %}
            <div class="row">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="skip" class="btn btn-warning">Skip</a>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}