{% extends 'base.html' %}

{% block title %}The Experiment{% endblock %}
{% block subtitle %}Welcome{% endblock %}
{% block content %}
    <h1>Get started with the experiment</h1>
    <div class="col px-0">
        <p class="lead">Thank you for your time. You can start the experiment by clicking on the "Start Experiment" button located at the bottom of this page. Before
            that, we recommend going through a quick overview of the tasks in this page.</p>
    </div>



    <hr class="my-5 w-25 mx-0">
    <div class="row">
    <h3>Useful Information</h3>
        <div class="col-md-12 mt-4">
            <ol>
                <li><b>What is a target (or deliverable)?</b> A target is the final build artifact that is either a library or a executable. In CMake, the targets are defined by add_executable or add_library commands. To read more, <a href="https://cmake.org/cmake/help/latest/manual/cmake-buildsystem.7.html#:~:text=A%20CMake%2Dbased%20buildsystem%20is,custom%20target%20containing%20custom%20commands">click here</a></li>
                <li><b>How can I find the targets for a project?</b> Each CMake project starts with CMakeLists.txt file in the root folder. You can start finding target related commands in this file for each project.</li>
                {% if tooling_level != '1' %}
                <li><b>Can I use my own IDE or other tools in addition to the tools provided?</b> Yes! In fact we recommend to take a look at the source code. The tool may overestimate or underestimate the impact.</li>
                {% endif %}
                <li><b>Do I have access to the project source code?</b> Yes! We will give you the repository URL of the project in each step.</li>
            </ol>
        </div>
    </div>
    {% if tooling_level == '2' %}
        {% include 'existingtool.html' %}
    {% endif %}
    {% if tooling_level == '3' %}
        {% include 'dipiditool.html' %}
    {% endif %}
    <hr class="my-5 w-25 mx-0">
    <h3>Your Tasks in a Glance</h3>
    <div class="row mt-4">
        {% for task in tasks %}
            <div class="col-md-4">
                <b>{{ task.0 }}</b>
                <p>{{ task.1 }}</p>

            </div>
        {% endfor %}
    <b>We keep track of the time you'll spend on each task. Please complete (or skip) the tasks in one sitting.</b>
    <a href="{% url 'begin_page' %}" class="btn btn-primary mr-3">Start Experiment</a>
    </div>

    <hr class="my-5">

    <p class="text-muted">The experiment has been designed at REBEL's Research Lab at University of Waterloo. Ethics
        clearance ORE# 43727</p>
{% endblock %}