{% extends 'base.html' %}

{% block title %}django-bootstrap-v5{% endblock %}

{% block content %}
    <h1>Get started with the experiment</h1>
      <div class="col-lg-8 px-0">
        <p class="lead">Thank you for your time. You can start the experiment by clicking on the button blow. Before that,
        we recommend going through a quick overview of the tasks in this page.</p>
      </div>

      <a href="{% url 'begin_page' %}" class="btn btn-primary mr-3" >Start Experiment</a>
      <a class="btn btn-secondary mr-3" >Exit</a>

      <hr class="my-5 w-25 mx-0">

      <div class="row">
        <div class="col-md-6">
          <h2>Type A Tasks</h2>
          <p><a href="https://icons.getbootstrap.com">Bootstrap Icons</a> are included with the SVG sprite here, but there are other <a href="https://icons.getbootstrap.com/#usage">usage options</a>, too. They're styleable with text utilities and more.</p>

          <svg class="bi text-danger" width="32" height="32">
            <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#heart-fill"/>
          </svg>
          <svg class="bi text-dark" width="32" height="32">
            <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#toggles"/>
          </svg>
          <svg class="bi text-primary" width="32" height="32">
            <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#shop"/>
          </svg>
        </div>

        <div class="col-md-6">
          <h2>Type B Tasks</h2>
          <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
          <ul class="icon-list">
            <li><a href="https://getbootstrap.com/docs/4.6/getting-started/introduction">Bootstrap quick start guide</a></li>
            <li><a href="https://getbootstrap.com/docs/4.6/getting-started/webpack">Bootstrap Webpack guide</a></li>
            <li><a href="https://getbootstrap.com/docs/4.6/getting-started/build-tools">Contributing to Bootstrap</a></li>
          </ul>
        </div>
      </div>

      <hr class="my-5">

      <p class="text-muted">The experiment has been designed at REBEL's Research Lab at University of Waterloo. Ethics clearance: ####</p>
{% endblock %}